<!-- features -->
{% if site.locale and site.locale != "" and site.locale != nil %}
  <section class="page-section" id="{{ site.data.sitetext[site.locale].features.section | default: "features" }}">
    <div class="container">
	
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].features.title | default: "Features" }}</h2>
          {% if site.data.sitetext[site.locale].features.text %}
		  <h3 class="section-subheading text-muted">{{ site.data.sitetext[site.locale].features.text }}</h3>
		  {% endif %}
        </div>
      </div>
	  
      <div class="row text-center">
	  {% for feature in site.data.sitetext[site.locale].features.list %}
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="{{ feature.icon | default: "fas fa-shopping-cart" }} fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="feature-heading">{{ feature.title | markdownify }}</h4>
          {% if feature.desc %}<div class="text-muted">{{ feature.desc | markdownify }}</div>{% endif %}
        </div>
	  {% endfor %}
      </div>
	  
    </div>
  </section>
{% else %}
<section class="page-section" id="{{ site.data.sitetext.features.section | default: "features" }}">
  <div class="container">

    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext.features.title | default: "Features" }}</h2>
        {% if site.data.sitetext.features.text %}
    <h3 class="section-subheading text-muted">{{ site.data.sitetext.features.text }}</h3>
    {% endif %}
      </div>
    </div>
  
    <div class="row text-center">
  {% for feature in site.data.sitetext.features.list %}
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="{{ feature.icon | default: "fas fa-shopping-cart" }} fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="feature-heading">{{ feature.title | markdownify }}</h4>
        {% if feature.desc %}<div class="text-muted">{{ feature.desc | markdownify }}</div>{% endif %}
      </div>
  {% endfor %}
    </div>
  
  </div>
</section>
{% endif %}
<!-- End features -->